@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

.grid-header {grid-area: header;}
.card1-back{ grid-area: card1;}
.card2-back{ grid-area: card2;}
.card3-back{ grid-area: card3;}
.card4-back{ grid-area: card4;}
.card5-back{ grid-area: card5;}
.card6-back{ grid-area: card6;}
.card7-back{ grid-area: card7;}
.card8-back{ grid-area: card8;}
.card9-back{ grid-area: card9;}
.card10-back{ grid-area: card10;}
.grid-header {grid-area: header;}
.card1-front{ grid-area: card1;}
.card2-front{ grid-area: card2;}
.card3-front{ grid-area: card3;}
.card4-front{ grid-area: card4;}
.card5-front{ grid-area: card5;}
.card6-front{ grid-area: card6;}
.card7-front{ grid-area: card7;}
.card8-front{ grid-area: card8;}
.card9-front{ grid-area: card9;}
.card10-front{ grid-area: card10;}

.card1-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
    
}


.card2-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card3-back> img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card4-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card5-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card6-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card7-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card8-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card9-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}

.card10-back > img{
    max-height:100%;
    max-width:100%;
    object-fit:cover;
}




.front > img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
   
}

.firstp{
    
}

.boardGridContainer{
    display:grid;
    background-color: #2196F3;
    border: 2px solid black;
    row-gap: 25px;
    column-gap: 25px;
    padding:25px 25px 25px 25px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    
    
    
   width: 645px;
    grid-template-areas: "header header header header header"
    "card1 card2 card3 card4 card5"
    "card6 card7 card8 card9 card10";
}

.boardGridContainer > div {
    
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 10px 18px #888888;
    display:flex;
    align-items: center;
    justify-content: center;
}

.front{
    position:relative;
    height: 200px;
    width: 100px;
    border: 5px solid rgb(43, 115, 163);
}

.back{
    border:4px solid red;
    height: 200px;
    width: 100px;
}
.back-match{
    position:relative;
    height: 200px;
    width: 100px;
    border: 5px solid rgb(39, 235, 39);
}
.grid-header{
    
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
body{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 40px;
}
.countdown{
    display: inline-flex;
    margin:0;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s linear; 
}

.buttonContainer{
   display:flex;
   justify-content: center;
   align-items: center;
   margin-top:50px;
   min-width:fit-content;
   width:50px;
   margin-right:auto;
   margin-left:auto;
}

.start{
  padding: 10px;
  background-color: #2196F3;
  color:rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 24px;
}

.start:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.noClick{
    pointer-events: none;
}

@media screen and (max-width: 704px) {
    .buttonContainer  .boardGridContainer .boardGridContainer > div{
  width: 100%;
  
      }
     .buttonContainer{
      width: 704px;
     }
    

/*    
TODO: make the page for phones 
*/
    